fastapi==0.111.0
uvicorn==0.30.6
gradio==4.14.0
transformers==4.49.0
accelerate==1.4.0
safetensors==0.4.2
numpy==2.0.2
Pillow==10.4.0
huggingface_hub==0.26.2
pydantic==2.10.6
autoawq==0.2.7
auto-gptq==0.6.0
bitsandbytes==0.43.1
modelscope==1.18.1

